/*
 * -------------------------------------------------
 *  AIMs! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    hybrid_tsv = "./00.meta/meta.tsv"
    outdir = "./01.filtered_update/"
    AIMs_path = "./bin/AIMs.py"
    plot_path = "./bin/plot_AIMs.r"
    help = ''
}


profiles {

    standard {
       /*
        * Still needs to be further developed
        */
        process.executor = 'local'
    }

    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profile/rackham.config'
    }

}
